{% extends 'layout.html' %}

{% block title %}
    <title>详细信息</title>
{% endblock %}


{% block content %}
    <h1 style="float: left">详细信息</h1>


<div style="float: right;margin-right: 150px;height: 35px; line-height: 35px">
    {% for x in adminsend %}
        {% if x.title_type == "baidu_text" %}
            <span>百度文本审核</span>
        {% endif %}

        {% if x.title_type == "baidu_image" %}
            <span>百度图片审核</span>
        {% endif %}

        {% if x.title_type == "baidu_video" %}
            <span>百度视频审核</span>
        {% endif %}

        {% if x.title == "True" %}
            <span style="color: red">已开启</span>
        {% else %}
            <span style="color: red">未开启</span>
        {% endif %}


            <a  class="layui-btn layui-btn-xs"
        style="width: 100px ;height: 35px;line-height:35px;margin-right: 160px" lay-event="edit"
        href = "/audit/{{ x.id }}/baidu/">        切换
    </a>

    {% endfor %}

</div>

    <div class="layui-form">
        <table class="layui-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>姓名</th>
                <th>学号</th>
                <th>校区</th>
                <th>院系</th>
                <th>专业</th>
                <th>状态</th>
                <th>文本内容</th>
                <th>类型</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <th>{{ obj.id }}</th>
                    <th>{{ obj.user.username }}</th>
                    <th>{{ obj.user.name }}</th>
                    <th>{{ obj.user.student_number }}</th>
                    <th>{{ obj.user.campus }}</th>
                    <th>{{ obj.user.department }}</th>
                    <th>{{ obj.user.profession }}</th>
                    <th>
                        {% if  obj.admin_hide != "True"  %}
                            <span>未审核</span>
                        {% else %}
                            <span>已审核</span>
                        {% endif %}


                    </th>
                    <th>{{ obj.text }}</th>
                    <th>{{ obj.type }}</th>
                    <th>{{ obj.create_time }}</th>
                    <td>
                    {% if True %}
                         {% if  obj.admin_hide != "True"  %}
                             <a class="layui-btn layui-btn-xs" lay-event="edit" href="/audit/{{ obj.id }}/pass/">通过</a>
                        {% else %}
                             <a class="layui-btn layui-btn-xs" lay-event="edit" href="/audit/{{ obj.id }}/pass/">撤回</a>
                        {% endif %}






                        <a class="layui-btn layui-btn-xs" lay-event="edit" href="/audit/{{ obj.id }}/del/">删除</a>


                    {% else %}
                        <span>不可操作</span>
                    {% endif %}
                    </td>
                </tr>

            </tbody>

        </table>


    </div>
    <div>
    {% if obj.type == 'text' %}

          <table class="layui-table">
            <thead>
            <tr>

                <th>文本内容</th>

            </tr>
            </thead>
            <tbody>

                <tr>
                    <th>
                        {{ ser }}
                    </th>
                </tr>

            </tbody>

        </table>





    {% endif %}
    {% if obj.type == 'image' %}
        <table class="layui-table">
            <thead>
                <tr>
                    <th>文本内容</th>
                    <th>图片详情</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        {{ obj.text }}
                    </th>
                    <th>
                        {% for x in ser %}
                            <div style="float: left;text-align: center">
                                <div style="width: 100px;height: 100px;overflow: hidden">
                                    <img id="{{ x.id }}" onclick="demo({{ x.id }})" style=" width:100%;height:100%;object-fit:cover !important;" src="{{ x.url }}" alt="">
                                </div>
                                <a href="{{ x.url }}" style="">图片链接</a>
                            </div>

                        {% endfor %}
                    </th>
                </tr>

            </tbody>

        </table>

         <div id="myModal" style="display: none;
            position: relative;
            top: -200px;
            z-index: 1;
            padding-top: 50px;
            width: 100%;
            height: 100%;
            overflow: auto;
" class="modal" onclick="document.getElementById('myModal').style.display='none'">
            <!-- 弹窗内容 -->
            <img class="content" style="
            margin: auto;
            display: block;
            min-height:500px;
            max-height:600px;" id="imgde">
        </div>

    {% endif %}
    {% if obj.type == 'video' %}
        <table class="layui-table">
            <thead>
                <tr>
                    <th>文本内容</th>
                    <th>视频详情</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th>
                    {{ obj.text }}
                </th>
                <th>
                    <div style="width: 50%;height: 300px;margin: 0 auto;">
                        <video style="height:300px;" controls height="450px" poster="{{ ser.video_image }}" src=" {{ ser.video_url }}"></video>
                    </div>
                </th>
            </tr>

            </tbody>

        </table>





    {% endif %}



</div>

{#    <div>#}
{##}
{#    {{ obj.type_text }}#}
{#    {{ obj.time_TS }}#}
{#        {{ obj.type }}#}
{##}
{##}
{##}
{##}
{#    </div>#}
    <script>
            function demo(imgId) {
                console.log(imgId)
                document.getElementById('myModal').style.display = "block";
                document.getElementById("imgde").src = document.getElementById(imgId).src;
            }
        </script>



{% endblock %}