{% extends 'layout.html' %}
{% load static %}
{% block title %}
    <title>添加用户</title>
{% endblock %}

{% block content %}
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>综合演示</legend>
    </fieldset>

    <form class="layui-form" method="post" action="">
    {% csrf_token %}


        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="gender" value="1" title="男">
                <input type="radio" name="gender" value="2" title="女" checked>
            </div>
        </div>
            <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">学号</label>
            <div class="layui-input-block">
                <input type="text" name="student_number" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">所属校区</label>
            <div class="layui-input-block">
                <select name="campus" lay-filter="aihao">
                    {% for cam in campus %}
                        <option value="{{ cam.id }}">{{ cam.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属院系</label>
            <div class="layui-input-block">
                <select name="department" lay-filter="aihao">
                    {% for dep in department %}
                        <option value="{{ dep.id }}">{{ dep.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属专业</label>
            <div class="layui-input-block">
                <select name="profession" lay-filter="aihao">
                    {% for pro in profession %}
                        <option value="{{ pro.id }}">{{ pro.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
            <div class="layui-form-item">
            <label class="layui-form-label">层次</label>
            <div class="layui-input-block">
                <select name="level" lay-filter="aihao">
                    {% for lev in level %}
                        <option value="{{ lev.id }}">{{ lev.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">年月选择器</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" id="test3" name="time" placeholder="yyyy-MM">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>


    </form>
            <div class="layui-inline">
            <label class="layui-form-label" style="color: red">{{ error }}</label>

        </div>


{% endblock %}


{% block js %}

    <script src="{% static "/css/layui/layui.js" %}" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //年月选择器
            laydate.render({
                elem: '#test3'
                , type: 'month'
            });
        });
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');
            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 2) {
                        return '标题至少得2个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });

        });
    </script>


{% endblock %}
